<div class="row">
	<main class="col-md-12">
		<!-- Start your code here -->
		<h3>Hello!!! This page will give you information About me and contact information.</h3>
		<hr />
		<header>Personal Information</header>
		<p>
			I am an Engineer by profession. I have an experience of 4 years in the file of IT. <br>
			Name: Nirmal Mayur Panchal <br>
			Student Id: 143130219 <br>
			Course: Database Application Developer. <br>
		</p>
		<!-- End your code here  -->
	</main>
</div>