<div class="row">
	<main class="col-md-12">
		<!-- Start your code here -->
		<h3>Welcome to my website, I will be demonstrating HTML5 principles
			and techniques, Routing in Express...</h3>
		<hr />
		<header>Website Information</header>
		<p>
			This site consists of 3 static views (Home,
			About, HTML Demo) as well as 5 routes that supply data , including: <a href="/students">All
				Students</a>,<a href="/students?course=5">Students by Course</a>, <a href="/student/3">A Single
				Student By Student Number</a>, <a href="/tas">All Managers </a> and <a href="/courses">All Courses</a>.
		</p>
		<header>HTML 5 Introduction</header>
		<p>
			This site utilizes HTML5: a markup language used for structuring
			and presenting content on the World Wide Web
		</p>
		<!-- End your code here  -->
	</main>
</div>