<div class="row">
	<main class="col-md-12">
		<!-- Start your code here -->
		<header>Tables</header>

		<table border="1">
			<!--border is deprecated-->
			<caption>Household Finance</caption>

			<thead>
				<tr>
					<th>Month</th>
					<th>Income</th>
					<th>Expense</th>
					<th>Savings</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>January</td>
					<td>4000</td>
					<td>3000</td>
					<td>1000</td>
				</tr>
				<tr>
					<td>February</td>
					<td>4000</td>
					<td>2500</td>
					<td>1500</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">Total Savings </td>
					<td>2500</td>
				</tr>
			</tfoot>
		</table>
		<p>
			This table gives the information about household expenses for the month of January and February.
		</p>

		<!-- deprecated BORDER  -->
		<table border="1">
			<caption>Countries Medal Record</caption>
			<thead>


				<tr>
					<th>Country</th>
					<th>Canada</th>
					<th>USA</th>
				</tr>
			</thead>
			<tbody>


				<tr>
					<td rowspan="2">Gold & Silver</td>
					<td>20 </td>
					<td>144 </td>
				</tr>
				<tr>

					<td>45 </td>
					<td>150 </td>
				</tr>
			</tbody>
		</table>
		<p>This table gives you the count of gold and silver Medal for country canada and USA</p>
		<header>
			Lists
		</header>

		<ol>
			<li>India</li>
			<li>Canada
				<ul>
					<li>Gold :144</li>
					<li>Silver :173</li>
					<li>Bronze :208</li>
				</ul>
			</li>
			<li>U.S.A</li>
			<li>Australia</li>
			<li>South Africa</li>
		</ol>
		<p>List of country and their olymic medal records
		</p>

		<header>Images</header>
		<img src="/images/Lamborgini.jpg" alt="Picture of a car" width="400">
		<img src="/images/Ferrari.jpg" alt="Picture of a car" width="400">
		<img src="/images/Mercedes.jpg" alt="Picture of a car" width="400">

		<p>Images of different Company's Car</p>

		<header>Audio</header>
		<audio controls>
			<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-audio.mp3"
				type="audio/mp3">
			<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-audio.ogg"
				type="audio/ogg">
			<p>Sorry, your browser doesn't support HTML5 audio. Here is a <a
					href="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-audio.mp3">link to
					the audio</a> instead</p>.
		</audio>

		<p>
			This is the music player that support different types of format with controls supported.
		</p>

		<header>Video</header>

		<video width="320" height="240" controls>
			<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.mp4"
				type="video/mp4">
			<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.ogg"
				type="video/ogg">
			<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2022/web700/A3/sample-video.webm"
				type="video/webm">
			<p>Sorry, your browser doesn't support HTML5 video</p>
		</video>

		<p>
			This is the video player that support different types of format with controls supported.

		</p>
		<!-- End your code here  -->



	</main>
</div>